.hero{
    background-color: var(--color-black);
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;

}
.heroContainer {
    background-color: var(--color-black); /* Add your expected background color here */
  }
  
